{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
                
            </a>
        {% else %}
            <span class="link">

                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

    <!-- <div>
        <p class="inf_title"> Amirkabir University of Technology (Tehran Polytechnic), Tehran, Iran           2016-Present</p>
    </div> -->

<!-- including other folan -->
        {% include social-links.html %}
    </header>
    <div class="inf_header" style="font-weight:bold"> Education</div>

    <div class="inf_title" >
         Amirkabir University of Technology (Tehran Polytechnic), Tehran, Iran (2016-Present)
    </div>
    <p class="inf_body">
        B.Sc. in Computer Science (Software Engineering)  GPA 17.58/20
    </p >

    <div>
        <p class="inf_header"> Fields of Interest</p>
        <ul class="list-horizontal" >
                <li style="color: black">Machine Learning</li>
                <li style="color: black">Deep Learning</li>
                <li style="color: black">Natural Language Processing</li>
        </ul>
        
    </div>
    <div>
        <p class="inf_header">Publications</p>
        <p class="inf_body">DeepTreeNetworks: A New Symbolic Deep Architecture, Zahra Ahmadi, Sina Malakouti, Stefan Kramer, DeCoDeML workshop,
             <b>ECML PKDD 2019</b>, Wurzburg, Germany</p>
    </div>
    <div>
        <p class="inf_header"> Research Experience</p>
        <p class="inf_title">Research Assistant Intern- <b> Johannes Gutenberg University, Mainz, Germany</b> (July - Oct 2018)</p>
        <p class="inf_body"> Data Mining group under the supervision of Prof. Stefan Kramer and Zahra Ahmadi</p>

        <pre class="inf_title"> Research Assistant Intern (June 2019 - Present)</pre>
        <p class="inf_body">Center For Biomedical And Health Informatics under the supervision Of Dr. Mehrdad Oveisi</p>
        <p class="inf_body">Shahid Rajaei Cardiovascular, Medical & Research Center, Tehran, Iran</p>
        <p class="inf_title">Undergraduate Research Assistant (June 2017 – Present)</p>
        <p class="inf_body">Big Data lab under the supervision of Dr. Maryam Amir Haeri </p>
        <p class="inf_body">Amirkabir University of Technology, Tehran, Iran</p>
    </div>

{% endif %}

{% include nav.html %}
